<div class="wrapper">

  <app-categories
    [selectedCategory]="selectedCategory"
    [categories]="categories"

    (actualCategory)="onSelectCategory($event)"
    (deleteCategory)="onDeleteCategory($event)"
    (updateCategory)="onUpdateCategory($event)"
    (searchCategory)="onSearchCategory($event)"
    (addCategory)="onAddCategory($event)">
  </app-categories>

  <div class="main-panel">
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top">
      <app-header
        [categoryName]="selectedCategory ? selectedCategory.title : 'Все'"
        (toggleStat)="toggleStat($event)">
      </app-header>
    </nav>

    <div class="content">
      <div class="container-fluid">

        <app-stat *ngIf="showStat" [totalTasksInCategory]="totalTasksCountInCategory"
                  [completeTasksInCategory]="completedCountInCategory"
                  [uncompletedTasksInCategory]="uncompletedCountInCategory">
        </app-stat>

        <div class="row">
          <div class="col-12">
            <app-tasks
              [tasks]="tasks"
              [priorities]="priorities"
              [actualCategory]="selectedCategory"

              (updateTask)="onUpdateTask($event)"
              (addTask)="onAddTask($event)"
              (selectCategory)="onSelectCategory($event)"
              (deleteTask)="onDeleteTask($event)"
              (filterByStatus)="onFilterByStatus($event)"
              (filterByPriority)="onFilterByPriority($event)"
              (filterByTitle)="onFilterByTitle($event)"
              (clearFilters)="onClearFilter()">
            </app-tasks>
          </div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>

  </div>
</div>
