<!-- контейнер для внедрения слайд-меню -->
<ng-sidebar-container style=" height: 100vh">

  <!-- слайд-меню -->
  <ng-sidebar
    (onClosed)="onClosedMenu()"
    [animate]="true"
    [autoFocus]="false"
    [closeOnClickBackdrop]="true"
    [closeOnClickOutside]="false"
    [mode]="menuMode"
    [opened]="menuOpened"
    [position]="menuPosition"
    [showBackdrop]="showBackdrop">

    <div class="sidebar"
         data-color="purple"
         data-step="1"
         data-intro="Фильтрация задач, добавление/удаление/редактирование категорий"
         data-position='right'>
      <app-categories
        [selectedCategory]="selectedCategory"
        [categories]="categories"
        [categoryMap]="categoryMap"
        [uncompletedTotal]="uncompletedTotalTasksCount"

        (actualCategory)="onSelectCategory($event)"
        (addCategory)="onAddCategory($event)"
        (deleteCategory)="onDeleteCategory($event)"
        (updateCategory)="onUpdateCategory($event)"
        (searchCategory)="onSearchCategory($event)"
        (toggleMenu)="toggleMenu()">
      </app-categories>
    </div>

  </ng-sidebar>

  <!-- ng-sidebar-content - основной контент,над чем будет открываться слайд-меню -->
  <div ng-sidebar-content>

    <div class="main-panel">
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top">
        <app-header
          [categoryName]="selectedCategory ? selectedCategory.title : 'Все'"
          (toggleMenu)="toggleMenu()"
          (toggleStat)="toggleStat($event)"
          (help)="showHelp()">
        </app-header>
      </nav>

      <div class="content">
        <div class="container-fluid">
          <div data-step="2"
               data-intro="Статистика задач и их выполнения"
               data-position='top'>
            <app-stat *ngIf="showStat" [totalTasksInCategory]="totalTasksCountInCategory"
                      [completeTasksInCategory]="completedCountInCategory"
                      [uncompletedTasksInCategory]="uncompletedCountInCategory">
            </app-stat>
          </div>

          <div class="row">
            <div class="col-12">
              <app-tasks
                [tasks]="tasks"
                [priorities]="priorities"
                [actualCategory]="selectedCategory"

                (updateTask)="onUpdateTask($event)"
                (addTask)="onAddTask($event)"
                (selectCategory)="onSelectCategory($event)"
                (deleteTask)="onDeleteTask($event)"
                (filterByStatus)="onFilterByStatus($event)"
                (filterByPriority)="onFilterByPriority($event)"
                (filterByTitle)="onFilterByTitle($event)"
                (clearFilters)="onClearTaskFilter()">
              </app-tasks>
            </div>
          </div>
        </div>
      </div>

      <app-footer></app-footer>

    </div>
  </div>

</ng-sidebar-container>
