
.completed {
  text-decoration: line-through;
  color: #b3b3b3;
}

.no-value {
  color: #b3b3b3;
  font-style: italic;
}

.col-color {
  width: 1% !important;
}

.col-id {
  width: 4%;
  text-align: center;
}

.col-title {
  width: 40%;
}

.col-date {
  width: 10% !important;
}

.col-priority {
  width: 10%;
}

.col-category {
  width: 10%;
}

.col-select {
  width: 3%;
}

.col-operations {
  width: 8%;
}
